input[type=text], input[type=number], input[type=password], input[type=tel], input[type=date], textarea, select {
    width: 100%;
    padding: 12px 20px;
    /*margin: 8px;*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button] {
    /*width: 100%;*/
    background-color: #167F92;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}

.time-slot-button{
    width: 80px;
    height: 80px;
}